@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.css" />
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.css" />

<link rel="stylesheet" href="~/Content/bootstrap.css" />
<link rel="stylesheet" href="~/Content/Site.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
<meta name="description" content="AlertifyJS is a javascript framework for developing pretty browser dialogs and notifications.">
<meta name="keywords" content="alert, notify, alertify, dialog, notification, js, javascript, growl, css">

<link rel="stylesheet" href="/build/css/alertify.css">
<link rel="stylesheet" href="/build/css/themes/semantic.css">



@model GestionTareaWeb.Models.UsuarioViewModel
@{
    ViewData["Title"] = "Usuarios";
}



<!-- Modal Guardar-->
<div class="modal fade" id="usuarioGuardado" tabindex="-1" aria-labelledby="usuarioGuardadoLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content " style="width:100%">
            <div class="modal-header TMSHeaderModal">
                <h5 class="modal-title TMSTituloModal">Usuarios</h5>
                <div class="d-flex align-items-end flex-column">
                    <button type="button" style="color: black" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
            </div>
            <form asp-action="GuardarUsuario">

                <div class="modal-body ">



                    <div class="row" >
                        <div class="col" hidden>
                            <label class="form-label btn-color-info TMSlabelText" for="ruc">id:</label>
                            <input type="text" asp-for="@Model.id" class="form-control  TMSTextBoxValores" id="bgcolor-input0">

                        </div>
                        <div class="col" hidden>
                            <label class="form-label btn-color-info TMSlabelText" for="ruc">id:</label>
                            <input type="text" asp-for="@Model.id" class="form-control  TMSTextBoxValores" id="bgcolor-input0">

                        </div>

                    </div>

                    <div class="row">
                        <div class="col">
                            <label class="form-label btn-color-info TMSlabelText" for="ruc">Nombres:</label>
                            <input type="text" asp-for="@Model.nombre" class="form-control TMSTextBoxValores" id="bgcolor-input1" placeholder="Ingrese Nombres" required>


                        </div>
                        <div class="col">
                            <label class="form-label btn-color-info TMSlabelText" for="ruc">Apellidos:</label>
                            <input type="text" asp-for="@Model.apellido" class="form-control TMSTextBoxValores" id="bgcolor-input2" placeholder="Ingrese Apellidos" required>


                        </div>

                    </div>


                    <div class="row">
                        <div class="col">
                            <label class="form-label btn-color-info TMSlabelText" for="ruc">Correo:</label>
                            <input type="email" asp-for="@Model.correo" class="form-control   " id="bgcolor-input3" placeholder="Ingrese Correo" required>

                        </div>
                        <div class="col">
                            <label class="form-label btn-color-info TMSlabelText" for="ruc">Telefono:</label>
                            <input type="text" asp-for="@Model.telefono" class="form-control  TMSTextBoxValores" id="bgcolor-input4" placeholder="Ingrese teléfono" pattern="\d*" title="Por favor, ingrese solo números" required>

                        </div>

                    </div>

                           <div class="row">
                        <div class="col">
                            <label class="form-label btn-color-info TMSlabelText" for="ruc">Nuevo Roles:</label>
                            @if (Model.ListaItemRoles != null)
                            {
                                @Html.DropDownListFor(m => m.idRol,
                                         new SelectList(Model.ListaItemRoles, "id", "descripcion", Model.idRol),
                                         new { @class = "form-control", placeholder = "Filtar", id = "tipoRol", style = "text-align:center;  color:blue;  width:100%", required = "required" })
                            }
                            else
                            {
                                <select class="custom-select" id="tipoRol" style="text-align:center;  color:blue; width:70%" required>
                                </select>
                            }
                        </div>
                        <div class="col">
                            <label class="form-label btn-color-info TMSlabelText" for="ruc">Contraseña:</label>
                            <input type="text" asp-for="@Model.contrasenia" class="form-control TMSTextBoxValores  " id="bgcolor-input5" placeholder="Ingrese Contraseña" required>

                        </div>

                    </div>

                        


         @*            <div class="form-outline mb-4">
                        <label class="form-label btn-color-info TMSlabelText" for="ruc">Nombres:</label>
                        <input type="text" asp-for="@Model.nombre" class="form-control TMSTextBoxValores" id="bgcolor-input1" placeholder="Ingrese Nombres" required>

                    </div>


                    <div class="form-outline mb-4">
                        <label class="form-label btn-color-info TMSlabelText" for="ruc">Apellidos:</label>
                        <input type="text" asp-for="@Model.apellido" class="form-control TMSTextBoxValores" id="bgcolor-input2" placeholder="Ingrese Apellidos" required>

                    </div> *@

@* 
                    <div class="form-outline mb-4">
                        <label class="form-label btn-color-info TMSlabelText" for="ruc">Correo:</label>
                        <input type="email" asp-for="@Model.correo" class="form-control   " id="bgcolor-input3" placeholder="Ingrese Correo"  required>

                    </div>


                    <div class="form-outline mb-4">
                        <label class="form-label btn-color-info TMSlabelText" for="ruc">Telefono:</label>
                        <input type="text" asp-for="@Model.telefono" class="form-control  TMSTextBoxValores" id="bgcolor-input4" placeholder="Ingrese teléfono" pattern="\d*" title="Por favor, ingrese solo números" required>


                    </div>
 *@
               @*      <div class="form-outline mb-4">
                        <label class="form-label btn-color-info TMSlabelText" for="ruc">Nuevo Roles:</label>
                        @if (Model.ListaItemRoles != null)
                        {
                            @Html.DropDownListFor(m => m.idRol,
                                     new SelectList(Model.ListaItemRoles, "id", "descripcion", Model.idRol),
                                     new { @class = "form-control", placeholder = "Filtar", id = "tipoRol", style = "text-align:center;  color:blue;  width:70%", required = "required" })
                        }
                        else
                        {
                            <select class="custom-select" id="tipoRol" style="text-align:center;  color:blue; width:70%" required>
                            </select>
                        }

                    </div>

                    <div class="form-outline mb-4">
                        <label class="form-label btn-color-info TMSlabelText" for="ruc">Contraseña:</label>
                        <input type="text" asp-for="@Model.contrasenia" class="form-control form-control-lg  " id="bgcolor-input5" placeholder="Ingrese Contraseña" required>

                    </div>
 *@
                </div>
                <div class="modal-footer">
                    <button id="guardarInformacion" type="submit" class="btn btn-success bi bi-save btn-grad btn-sm"> Registrar </button>
                </div>
            </form>
        </div>
    </div>
</div>







<!-- Modal Eliminar -->
<div class="modal fade" id="eliminarModal" tabindex="-1" aria-labelledby="eliminarLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content " style="width:100%">
            <div class="modal-header TMSHeaderModal">
                <h5 class="modal-title TMSTituloModal">TMS Mantenimiento</h5>
                <div class="d-flex align-items-end flex-column">
                    <button type="button" style="color: black" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
            </div>
            <form asp-action="DeleteInformacion">


                <div class="modal-body ">
                    <div hidden class="form-outline mb-4">
                        <label class="form-label btn-color-info TMSlabelText">Id</label>
                        <input type="text" asp-for="@Model.id" id="idEliminar" class="form-control form-control-lg  TMSTextBoxValores" />
                    </div>
                    <div class="form-outline mb-4">
                        <label class="form-label btn-color-info TMSlabelText" style="margin-top:28px; font-size:13px">¿Está seguro de querer eliminar esta Usuario?</label>
                    </div>
                </div>

                <div class="modal-footer">
                    <button id="eliminarInfoData" style="padding:10px; width:50px;" type="submit" class=" btn btn-success  btn-sm">Sí </button>
                    <button id="eliminarInfoDatos" style="padding:10px; width:50px;" data-bs-dismiss="modal" aria-label="Cerrar" type="button" class=" btn btn-danger  btn-sm">No </button>
                </div>
            </form>
        </div>
    </div>
</div>





<!-- Modal Asignar Roles-->
<div class="modal fade" id="AsignarRoles" tabindex="-1" aria-labelledby="asignarRoleslLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content " style="width:100%">
            <div class="modal-header TMSHeaderModal">
                <h5 class="modal-title TMSTituloModal">Usuarios</h5>
                <div class="d-flex align-items-end flex-column">
                    <button type="button" style="color: black" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
            </div>
            <form asp-action="GuardarUsuarioRol">

                <div class="modal-body ">

                    <div class="form-outline mb-4" hidden>
                        <label class="form-label btn-color-info TMSlabelText" for="ruc">id:</label>
                        <input type="text" asp-for="@Model.id" class="form-control form-control-lg  TMSTextBoxValores" id="bgcolor-input9" >

                    </div>



                    <div class="form-outline mb-4">
                        <label class="form-label btn-color-info TMSlabelText" for="ruc">Nombres:</label>
                        <input type="text"  class="form-control form-control-lg  TMSTextBoxValores" id="bgcolor-input6" readonly>

                    </div>


                    <div class="form-outline mb-4">
                        <label class="form-label btn-color-info TMSlabelText" for="ruc">Apellidos:</label>
                        <input type="text"  class="form-control form-control-lg  TMSTextBoxValores" id="bgcolor-input7" readonly>

                    </div>


                    <div class="form-outline mb-4">
                        <label class="form-label btn-color-info TMSlabelText" for="ruc">Correo:</label>
                        <input type="text"  class="form-control form-control-lg  " id="bgcolor-input8"  readonly>

                    </div>

                    <div class="form-outline mb-4">
                        <label class="form-label btn-color-info TMSlabelText" for="ruc">Rol Actual:</label>
                        <input type="text" class="form-control form-control-lg  " id="rolActual" readonly>

                    </div>


             

                </div>
                <div class="modal-footer">
                    <button id="guardarInformacion" type="submit" class="btn btn-success bi bi-save btn-grad btn-sm"> Asignar Rol </button>
                </div>
            </form>
        </div>
    </div>
</div>






<div class="row" style="font-size: 13px !important;">
    <div class="col-md-12">
        <div class="widget">
            <header class="widget-header" style="padding-bottom: 5px !important;">
                <div class="row">
                    <h4 class="widget-title col-md-12" style="font-weight:400 !important;font-size: 21px; color:#333333; font-family: Calibri, Helvetica Neue, Helvetica, Arial, sans-serif;">Usuarios</h4>
                </div>
            </header>
            <hr class="widget-separator" style="margin-top:2px !important">
            <div class="widget-body">
                <div class="btn-group" role="group" aria-label="Basic mixed styles example" style="margin-bottom:5px !important;">
                    <button id="btnNuevo" type="button" class="btn btn-success btn-sm bi bi-clipboard-plus" data-bs-toggle="modal" onclick="nuevo();" data-bs-target="#usuarioGuardado">   Nuevo </button>

                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-sm  dataTable" id="tablaLlantas">

                        <thead>
                            <tr>
                               
                            
                                <th>
                                    Nombres
                                </th>

                                <th>
                                    Apellidos
                                </th>

                                <th>
                                    Correo
                                </th>

                                <th>
                                    Telefono
                                </th>
                                <th>
                                    Rol Asignado
                                </th>
                                <th>
                                    Acciones
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.itemUsuario != null)
                            {

                                @foreach (var item in Model.itemUsuario)
                                {

                                    @Html.HiddenFor(model => item.id)

                                    <tr>
                                        <td>
                                            @Html.DisplayFor(model => item.nombre)
                                        </td>
                                        @*  <td>
                                @Html.DisplayFor(model => item.tipoColor)
                                </td>*@
                                        <td>
                                            @Html.DisplayFor(model => item.apellido)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(model => item.correo)
                                        </td>

                                     
                                        <td>
                                            @Html.DisplayFor(model => item.telefono)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(model => item.tipoRol)
                                        </td>

                                        <td>

                                            <button title="Editar Uusuario" class="btn p-v-sm btn-success btn-sm" id="btnEditar" data-bs-toggle="modal" data-bs-target="#usuarioGuardado" onclick="editar({id:'@item.id' , nombre:'@item.nombre' ,apellido:'@item.apellido', telefono:'@item.telefono' ,correo:'@item.correo'  });">
                                                <i class="bi bi-pen"></i>
                                            </button>

                                            <button title="Eliminar Usuario" class="btn p-v-sm btn-danger btn-sm" id="btnEliminar" data-bs-toggle="modal" data-bs-target="#eliminarModal" onclick="eliminar({id:'@item.id'});">
                                                <i class="bi bi-trash"></i>
                                            </button>

                                        </td>
                                    </tr>
                                }

                            }
                          
                        </tbody>
                        <tfoot>
                            <tr>

                                <th>
                                    Nombres
                                </th>

                                <th>
                                    Apellidos
                                </th>

                                <th>
                                    Correo
                                </th>

                                <th>
                                    Telefono
                                </th>
                                <th>
                                    Rol Asignado
                                </th>
                                <th>
                                    Acciones
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>





@section Scripts {
    <script src="~/Content/jquery-2.2.4.js"></script>
    <script src="~/Content/bootstrap.js"></script>
    <script src="~/Content/modernizr-2.8.3.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>

    <script type="text/javascript">
        var table;
        // var inputElement = document.getElementById("Descripcion1");
        //var inputElement2 = document.getElementById("TipoColor1");
        $(document).ready(function () {
            $('#tablaLlantas').DataTable();
        });


        function editar(data) {
            $("#bgcolor-input0").val(data.id);
            $("#bgcolor-input1").val(data.nombre);
            $("#bgcolor-input2").val(data.apellido);
            $("#bgcolor-input3").val(data.correo);
            $("#bgcolor-input4").val(data.telefono);
            $("#bgcolor-input5").val("");
            $("#tipoRol").val(0);
            document.getElementById("tipoRol").setAttribute("required", true);
            document.getElementById("bgcolor-input5").removeAttribute("required");
        }
        function eliminar(data) {
            // console.log(Provincia);
            // $('#idProvincia').val(Provincia.idProvincia);
            $("#idEliminar").val(data.id);

        }

        function convertirAMinuscula(input) {
            input.value = input.value.toLowerCase();
        }

        function nuevo() {
            $("#idPaises").val(0);
            $("#bgcolor-input").val("");
        }

        function asignarRol(data) {
            $("#bgcolor-input9").val(data.id);
            $("#bgcolor-input6").val(data.nombre);
            $("#bgcolor-input7").val(data.apellido);
            $("#bgcolor-input8").val(data.correo);
            $("#rolActual").val(data.tipoRol);
            $("#tipoRol").val(0);


            
        }


        $("#btnNuevo").click(function () {
            document.getElementById("tipoRol").removeAttribute("required");
            document.getElementById("bgcolor-input5").setAttribute("required",true);
            $("#bgcolor-input0").val("");
            $("#bgcolor-input1").val("");
            $("#bgcolor-input2").val("");
            $("#bgcolor-input3").val("");
            $("#bgcolor-input4").val("");
            $("#bgcolor-input5").val("");
            $("#tipoRol").val(0);

        });


        //$("#guardarInformacion").click(function () {
        //    var dato1 = $('#IdColor1').val();
        //    var dato2 = $('#Descripcion1').val();
        //    var dato3 = "Llanta";
        //    var data4 = 0;


        //    if (dato1 == "") {
        //        dato4 = 0;

        //    } else {
        //        dato4 = $('#IdColor1').val();

        //    }

        //    //alert("erro");
        //    if (dato2 == "") {

        //        inputElement.style.border = "1px solid red";
        //        inputElement.style.border = "1px solid red";
        //        inputElement.style.borderRadius = "5px";



        //    } else {

        //        inputElement.style.border = "1px solid #ced4da";



        //    }



        //    //if (dato3 == "") {
        //    //    inputElement2.style.border = "1px solid red";
        //    //    inputElement2.style.border = "1px solid red";
        //    //    inputElement2.style.borderRadius = "5px";


        //    //}else{


        //    //    inputElement2.style.border = "1px solid #ced4da";

        //    //}

        //    // alert($('#Descripcion1').val());
        //    //alert($('#TipoColor1').val());





        //    //            alert(datos);

        //    //          alert(JSON.stringify(datos));



        //    if (dato2 != "") {
        //        var arregloInfo = [];
        //        var datosInfo = {
        //            "descripcion": dato2,
        //            "idColor": dato1,
        //            "tipoColor": "Llanta"

        //        };

        //        datosInfo.descripcion = $('#Descripcion1').val();
        //        datosInfo.idColor = dato4;
        //        datosInfo.tipoColor = "Llanta";
        //        arregloInfo.push(datosInfo);
        //        var json = JSON.stringify(arregloInfo);

        //        $.ajax({
        //            url: '@Url.Action("GuardaryEditarInfo", "Provincia")',
        //            data: { json: json },
        //            type: "POST",
        //            dataType: "json",
        //            success: function (result) {
        //                $('#ClienteModal').modal('hide');
        //                if (result.data == "ok") {
        //                    alertify.success("Se Guardo la Color correctamente.");
        //                    table._fnAjaxUpdate(null, false);
        //                } else {
        //                    alert.error(result.msg);
        //                }
        //            },
        //            error: function (errormessage) {
        //                aler.error("Error al guardar la Color. Intente de nuevo.");
        //            }
        //        });

        //    }




        //    //alert("HOLA");

        //});

        function eliminarProvincia(guia) {
            console.log(guia);

            $("#idProvinciaEliminar").val(guia.idProvincia);


            //   $("#eliminarModal").modal({ backdrop: 'static', keyboard: false });


        }





    </script>

}